<body style="display: flex; flex-direction: column; align-items: center;">
    <h2 style="color: blue;">Agrega un producto</h2>
    <form style="max-width: 600px; width: 100%;" id="form">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input name='nombre' type="text" class="form-control" id="nombre" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="precio">Precio</label>
            <input name='precio' type="number" class="form-control" id="precio" placeholder="Precio">
        </div>
        <div class="form-group">
            <label for="imagen">Imagen</label>
            <input name='imagen' type="text" class="form-control" id="imagen" placeholder='Imagen'>
        </div>
        <button style="margin-top: 2rem; margin-left: auto;" type="submit" class="btn btn-primary">Submit</button>
    </form>
    <table id="table">
    </table>
    <button style="margin-top: 2rem;" type="submit" class="btn btn-primary">
        <a href="/" style="color: white;">Ver Productos</a>
    </button>
    <main>
        <h1>Tus productos</h1>
        <hr />

        <table>
            <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Imagen</th>
                </tr>
            </thead>
            <tbody>
                {{! si productList existe }}
                {{#if products}}
                {{#each products}}
                <tr>
                    <td>{{nombre}}</td>
                    <td>{{precio}}</td>
                    <td>{{descripcion}}</td>
                    <td><img class="img" src="{{imagen}}" alt="{{nombre}}" /></td>
                </tr>
                {{/each}}
                {{/if}}
            </tbody>
        </table>

        <!-- products undefined -->
        {{#unless products}}
        <h2>No hay productos</h2>
        {{/unless}}

        <div class="products-link">
            <a href="/">Agregar productos</a>
        </div>
        <h1>Chat</h1>
        <form id="messages">

            <label for="email">Email</label>
            <input type="text" id="email">
            <label for="message"></label>
            <input type="text" id="message">
            <button type="submit">Submit</button>
        </form>
        <div id="errors">

        </div>
        <hr>
        <div>
            <ul id="chat">
            {{#if messages}}
            
                {{#each messages}}
                    <li>
                        <span style="color: blue; font-weight: 600;">{{this.email}}: </span>
                        <span style="color: brown;">[{{this.date}}]</span>
                        <span style="color: green; font-style: italic;">{{this.message}}</span>
                    </li>
                {{/each}}
            {{else}}
                <span>No hay mensajes</span>
            {{/if}}
            </ul>

        </div>
    </main>
</body>

